.product-container {
    height: 400px;
    margin: 15px;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Quicksand", sans-serif;
    display: inline-block;
}

.product-img {
    height: 300px;
    width: 100%;
    box-shadow: #00000026 2px 2px 2.5px;
    border-radius: 5px;
}

.product-details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.action-btn-container {
    font-family: "Quicksand", sans-serif;
    display: flex;
    gap: 15px;
}

.action-icon {
    width: 32px;
    padding: 0;
    line-height: 1;
    margin-top: 4px;
}

.product-qty {
   margin: auto;
}