.product-container {
    height: 400px;
    margin: 15px;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: inherit;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-container:hover {
    transform: scale(1.1);
}

.product-img {
    height: 300px;
    width: 100%;
    box-shadow: #00000026 2px 2px 2.5px;
    border-radius: 5px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.tagline {
    font-size: 13px;
    padding: 8px 0;
}


.action-btn-container {
    font-family: inherit;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.action-icon {
    width: 32px;
    padding: 0;
    line-height: 1;
    margin-top: 4px;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}