.prdct-details {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.details {
    padding-right: 30px
}

.size-container {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 14px;
}

.size {
    margin-right: 6px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(186, 185, 185);
    font-size: 12px;
    float: none;
}

.size:hover,
.size:focus,
.active-class {
    box-shadow: none;
    border: none;
    background-color: #000;
    color: #fff;
}

.back-btn {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 3px
}

.back-btn:hover {
    color: #a5a4a4
}

.left-arrow {
    width: 15px;
    height: 15px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
}


.product-price,
.product-price+span{
    font-weight: bold;
}

.size-error {
    color: #ff0000;
    font-size: 14px;
    padding-right: 30px;
    margin-bottom: -20px;
}

.description {
    line-height: 1.6;
}

.accordian-container {
    flex-direction: column;
}
