

.cart-items {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    min-height: 300px;
}

.empty-cart {
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.empty-cart img {
    height: 100px;
    width: 100px;
}

.empty-cart p {
    margin: 0;
}

.cart-prdct-img {
    height: 55px;
    width: 44px;
}

.cart-item {
    list-style: none;
    border: 1px solid #d3d3d3;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.action-in-cart {
    display: flex;
    gap: 20px;
    height: 50px;
    justify-content: flex-end;
    align-items: center ;
}

.action-icon {
    width: 32px;
    padding: 0;
    line-height: 1;
    margin-top: 4px;
}
