@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Pacifico&display=swap');

.website-name {
    font-family: "Pacifico", cursive;
    display: inline-block;
}

.website-logo {
    width: 300px;
    vertical-align: middle;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-form {
    display: inline-block;
    padding: 0 20px;
 }

.cart-container {
	width: 180px;
}

.cart-btn{
	border: none;
	background-color: #eeeeee;
	cursor: pointer;
}

.cart-img {
	height: 30px;
}