footer {
	position: relative;
	bottom: 0;
	text-align: center;
    border: 1px solid black;
}

.footer-container {
	display: flex;
    height: 80px;
	justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact img{
    height: 30px;
    width: 30px;
}
