footer {
	position: relative;
	bottom: 0;
	text-align: center;
}

.footer-container {
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact img{
    height: 30px;
    width: 30px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
    }
}